<!DOCTYPE html>
<html>
  <head>
    <title>Book Searck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MOBILE APPEARENCE: -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333399">
    <meta name="msapplication-TileColor" content="#333399"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._signed_in = #{user_signed_in?}" %>
  </head>

  <body>
    <div class="topbar">
      <span class="title">
        <a href="/">Book Search</a>
      </span>
      <span class="buttons">
        <% if not user_signed_in? %>
          <%= link_to "Log in", new_session_path(User), class: "button btn btn-primary" %>
        <% else %>
          <%= link_to "Manage Users", {controller: '/users'}, class: "button btn btn-secondary" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button btn btn-danger" %>
        <% end %>
      </span>
    </div>
    <% if alert %>
      <div class="flash alert alert-warning"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="flash alert alert-info"><%= notice %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
